body {
    background-image: url("img/bg-login-img2.jpg");
}

#container {
    width: 26%;
    margin: auto;
    margin-top: 3px;
}

/* logo */
.logo1 {
    margin-left: 44%;
    margin-bottom: -3%;
}

/* titre Login*/
.titrelogin {
    color: #1a0dc7;
    text-align: center;
    font-size: 50px;
}

/* Bordered form */
form {
    width: 100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1 {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #3f33ec;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #3f33ec;
    color: #53af57;
    border: 1px solid #53af57;
}