/* MODAL */

.modal,
.modal-acl,
.modal-user {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal.show,
.modal-acl.show {
    opacity: 1;
    display: flex;
}

.modal-content {
    position: relative;
    /* background-color: #fff; */
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 700px;
    max-width: 85%;
    border-radius: 5px;
    box-sizing: border-box;
    animation: open .5s ease;
}

@keyframes open {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-header {
    padding: 2px 16px;
    background-color: #0051ff;
    color: #fff;
    display: flex;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header h2 {
    font-size: 18;
    margin: 10px 0;
}

.close-btn,
.cust-close-btn {
    position: absolute;
    color: #fff;
    right: -10px;
    top: -13px;
    width: 30px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    background-color: #0051ff;
    border: 1px solid #888;
    border-bottom: none;
    border-left: none;
    transition: .3s;
}

.close-btn i,
.cust-close-btn i {
    margin-top: 7px;
}

.close-btn:hover,
.cust-close-btn:hover {
    color: #ccc
}

.modal-body {
    padding: 10px 16px;
    max-height: 700px;
}

.modal-footer {
    display: flex;
    padding: 10px 16px;
    background-color: #0051ff;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: center;
    align-items: center;
}

.modal-lg .modal-content {
    width: 900px;
}

.modal-xl .modal-content {
    width: 1200px;
}

.modal-md .modal-content {
    width: 500px;
}

.modal-sm .modal-content {
    width: 300px;
}

.modal-xs .modal-content {
    width: 200px;
}

.modal-acl .modal-content {
    border-radius: 15px;
}

.modal-acl .close-btn,
.modal-acl .cust-close-btn {
    background-color: rgb(49, 46, 46);
}

.modal-acl .close-btn:hover,
.modal-acl .cust-close-btn:hover {
    background-color: rgb(29, 2, 2);
}

.modal-acl .modal-body .modal-title {
    width: 100%;
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-acl .modal-body {
    padding-bottom: 20px;
}

.modal-acl .modal-body .box-body,
.modal-acl .modal-body .check-group {
    padding: 0;
    max-height: 500px;
}


/*END MODAL */