.bv1 {
    padding: 10px;
    border: none;
    transition: background-color .5s;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.bv1-primary,
.bv1-success {
    color: #fff;
    outline: none;
    font-size: 16px;
}

.bv1-primary {
    background-color: #3e78c7;
}

.bv1-success {
    background-color: rgba(39, 163, 56, 0.856);
}

.bv1-warning {
    background-color: #DF941B;
}

.bv1-primary:hover {
    color: #fcf9f9;
    background-color: #4586de;
}

.bv1-success:hover {
    color: #fcf9f9;
    background-color: green;
}

.bv1-warning:hover {
    color: #fcf9f9;
    background-color: #AE761A;
}

.mp-form-group {
    margin: 20px 0;
    margin-left: 12.5%;
    width: 75%;
}

.mp-form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.mp-form-group input,
.mp-form-group textarea {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}