.modal-V1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-bg-primary {
    background-color: #3e78c7;
}

.modal-bg-success {
    background-color: rgba(39, 163, 56, 0.856);
}

.modal-V1-content {
    background: #efefef;
    margin: 35px auto;
    width: 60%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    display: none;
}

.modal-V1-header {
    color: #fff;
    padding: 25px 30px;
    text-align: center;
    font-size: 20px;
}


/*.modal-V1-header .modal-V1-title {
    margin: auto 0;
}*/

.modal-V1-header .modal-V1-close {
    font-size: 50px;
    float: right;
    margin: auto 0;
    padding-right: 20px;
}

.modal-V1-header .modal-V1-close:hover {
    color: #333;
    cursor: pointer;
}

.modal-V1-footer {
    padding: 25px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-V1-body {
    padding: 25px 30px;
}

.modal-V1-body h3 {
    color: #4586de;
    font-size: 35px;
    margin: 30px 0;
}