@charset "UTF-8";
/*
 |  tail.select - The vanilla solution to make your HTML select fields AWESOME!
 |  @file       ./css/bootstrap3/tail.select-default.css
 |  @author     SamBrishes <sam@pytes.net>
 |  @version    0.5.16 - Beta
 |
 |  @website    https://github.com/pytesNET/tail.select
 |  @license    X11 / MIT License
 |  @copyright  Copyright © 2014 - 2019 SamBrishes, pytesNET <info@pytes.net>
 */

/* @start GENERAL */
.tail-select, .tail-select *, .tail-select *:before, .tail-select *:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.tail-select, .tail-select *{
    outline: none;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.tail-select{
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.tail-select mark{
    color: white;
    background-color: #0088CC;
}
.tail-select button{
    outline: none;
}
.tail-select button.tail-all, .tail-select button.tail-none{
    height: auto;
    margin: 0 2px;
    padding: 2px 6px;
    display: inline-block;
    font-size: 10px;
    line-height: 14px;
    text-shadow: none;
    letter-spacing: 0;
    text-transform: none;
    vertical-align: top;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: color 142ms linear, border 142ms linear, background 142ms linear;
    -webkit-transition: color 142ms linear, border 142ms linear, background 142ms linear;
}
.tail-select button.tail-all{
    color: #AAAAAA;
    border-color: #CCCCCC;
    background-color: transparent;
}
.tail-select button.tail-all:hover{
    color: #62C462;
    border-color: #62C462;
    background-color: transparent;
}
.tail-select button.tail-none{
    color: #AAAAAA;
    border-color: #CCCCCC;
    background-color: transparent;
}
.tail-select button.tail-none:hover{
    color: #EE5F5B;
    border-color: #EE5F5B;
    background-color: transparent;
}
.tail-select.disabled button.tail-all{
    color: #CCCCCC;
    border-color: #CCCCCC;
    background-color: #F0F0F0;
}
.tail-select.disabled button.tail-none{
    color: #CCCCCC;
    border-color: #CCCCCC;
    background-color: #F0F0F0;
}
.tail-select input[type="text"]{
    color: #333333;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 4px 6px;
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    vertical-align: middle;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border 142ms linear, box-shadow 142ms linear;
    -webkit-transition: border 142ms linear, box-shadow 142ms linear;
}
.tail-select input[type="text"]:hover{
    color: #333333;
    border-color: #b3b3b3;
    background-color: transparent;
}
.tail-select input[type="text"]:focus{
    color: #0088CC;
    border-color: #0088CC;
    background-color: transparent;
}
.tail-select.disabled input[type="text"]{
    color: #e6e6e6;
    border-color: #CCCCCC;
    background-color: #e6e6e6;
}
.tail-select-container{
    margin: 0;
    padding: 3px;
    text-align: left;
    border-radius: 3px;
}
.tail-select-container .select-handle{
    width: auto;
    color: white;
    cursor: pointer;
    margin: 1px;
    padding: 0.2em 0.6em 0.3em;
    display: inline-block;
    position: relative;
    font-size: 11.844px;
    text-align: left;
    font-weight: bold;
    line-height: 16px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: top;
    background-color: #0088CC;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 3px;
    transition: background 142ms linear;
    -webkit-transition: background 142ms linear;
}
.tail-select-container .select-handle:hover{
    color: white;
    background-color: #005580;
}
.tail-select-container.select-label .select-handle{
    margin: 5px 3px;
}
/* @end GENERAL */

/* @start LABEL */
.tail-select .select-label{
    cursor: pointer;
    color: #333333;
    width: 100%;
    margin: 0;
    padding: 0 30px 0 0;
    display: block;
    position: relative;
    text-align: left;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-radius: 3px;
    transition: background 142ms linear;
    -webkit-transition: background 142ms linear;
}
.tail-select .select-label:before, .tail-select .select-label:after{
    margin: 0;
    padding: 0;
    content: "";
    display: inline-block;
    position: absolute;
    text-shadow: none;
    vertical-align: top;
}
.tail-select .select-label:after{
    top: 0;
    right: 0;
    width: 34px;
    height: 34px;
    z-index: 24;
    background-color: white;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #CCCCCC;
    border-radius: 0 2px 2px 0;
}
.tail-select .select-label:before{
    top: 7px;
    right: 12px;
    width: 0;
    height: 0;
    margin-top: 9px;
    z-index: 25;
    border-top: 5px dashed;
    border-top: 5px solid\9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    text-shadow: none;
    transition: transform 142ms linear;
    -webkit-transition: transform 142ms linear;
}
.tail-select .select-label:hover, .tail-select .select-label:hover:after{
    border-color: #b3b3b3;
}
.tail-select .select-label:hover:after{
    background-color: #e6e6e6;
}
.tail-select .select-label .label-count, .tail-select .select-label .label-inner{
    width: auto;
    margin: 0;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.tail-select .select-label .label-count{
    float: left;
    color: white;
    margin: 8px -2px 8px 8px;
    padding: 2px 9px;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: none;
    white-space: nowrap;
    border-radius: 3px;
    background-color: #333333;
}
.tail-select .select-label .label-inner{
    padding: 9px 10px 7px 10px;
    display: block;
    overflow: hidden;
    line-height: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tail-select.active .select-label{
    border-color: #a6a6a6;
}
.tail-select.active .select-label:after{
    border-color: #a6a6a6;
    background-color: #d9d9d9;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.tail-select.active .select-label:before{
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
/* @end LABEL */

/* @start DROPDOWN */
.tail-select .select-dropdown{
    top: 100%;
    left: 0;
    color: #333333;
    width: 100%;
    margin: 2px 0 0;
    padding: 0;
    z-index: 27;
    display: none;
    position: absolute;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.tail-select .select-dropdown .dropdown-search{
    width: 100%;
    margin: 0;
    padding: 10px;
    display: block;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #e6e6e6;
}
.tail-select .select-dropdown .dropdown-inner{
    width: 100%;
    margin: 0;
    padding: 1px 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
.tail-select .select-dropdown .dropdown-empty{
    margin: 0;
    padding: 9px 0;
    display: block;
    font-size: 12px;
    text-align: center;
}
.tail-select .select-dropdown .dropdown-action{
    top: 8px;
    right: 15px;
    width: auto;
    margin: 0;
    padding: 7px 0;
    z-index: 35;
    display: inline-block;
    position: absolute;
    text-align: center;
}
.tail-select .select-dropdown ul, .tail-select .select-dropdown ul li{
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    list-style: none;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;
}
.tail-select .select-dropdown ul li{
    color: #333333;
    padding: 5px 26px;
    text-align: left;
    font-weight: normal;
}
.tail-select .select-dropdown ul li:first-of-type{
    margin-top: 7px;
}
.tail-select .select-dropdown ul li:last-of-type{
    margin-bottom: 7px;
}
.tail-select .select-dropdown ul li.optgroup-title{
    color: rgba(51, 51, 51, 0.7);
    cursor: default;
    margin: 9px 0 0 0;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: none;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.tail-select .select-dropdown ul li.optgroup-title button{
    float: right;
    opacity: 0;
}
.tail-select .select-dropdown ul:hover li button{
    opacity: 1;
}
.tail-select .select-dropdown ul li.dropdown-option{
    cursor: pointer;
    color: #333333;
}
.tail-select .select-dropdown ul li.dropdown-option:before{
    top: 2px;
    left: 0;
    width: 26px;
    height: 26px;
    margin: 0;
    padding: 0;
    z-index: 21;
    display: inline-block;
    content: "";
    position: absolute;
    vertical-align: top;
    background-repeat: no-repeat;
    background-position: center center;
}
.tail-select .select-dropdown ul li.dropdown-option .option-description{
    color: rgba(51, 51, 51, 0.7);
    width: auto;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 10px;
    text-align: left;
    line-height: 14px;
    vertical-align: top;
}
.tail-select.hide-selected .select-dropdown ul li.selected,
.tail-select.hide-disabled .select-dropdown ul li.disabled{
    display: none;
}
/* Selected */
.tail-select .select-dropdown ul li.dropdown-option.selected{
    color: #0088CC;
    background-color: transparent;
}
.tail-select .select-dropdown ul li.dropdown-option.selected:before{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
                9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij48cGF0aCBkPSJNMTIgNWwtOCA4LTQtN\
                CAxLjUtMS41TDQgMTBsNi41LTYuNUwxMiA1eiIvPjwvc3ZnPg==");
}
.tail-select .select-dropdown ul li.dropdown-option.selected .option-description{
    color: rgba(51, 51, 51, 0.7);
}
/* Unselect */
.tail-select.deselect .select-dropdown ul li.dropdown-option.selected:hover:before,
.tail-select.multiple .select-dropdown ul li.dropdown-option.selected:hover:before,
.tail-select.deselect .select-dropdown ul li.dropdown-option.selected.hover:before,
.tail-select.multiple .select-dropdown ul li.dropdown-option.selected.hover:before{
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC\
                                9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij48cGF0aCBkPSJNNy40OCA4bDMuNzUgM\
                                y43NS0xLjQ4IDEuNDhMNiA5LjQ4bC0zLjc1IDMuNzUtMS40OC0xLjQ4TDQuNTIgOCAuNzcgNC4yNWwxLjQ4LTEuNDhMNiA2\
                                LjUybDMuNzUtMy43NSAxLjQ4IDEuNDhMNy40OCA4eiIvPjwvc3ZnPg==");
}
/* Hover */
.tail-select .select-dropdown ul li.dropdown-option{
    transition: all 0.3s ease-out;
}
.tail-select .select-dropdown ul li.dropdown-option:hover,
.tail-select .select-dropdown ul li.dropdown-option.hover{
    color: #333333;
    background-color: #ffffff;
    transition: all 0.4s ease;
}
.tail-select .select-dropdown ul li.dropdown-option:hover .option-description,
.tail-select .select-dropdown ul li.dropdown-option.hover .option-description{
    color: rgba(51, 51, 51, 0.7);
}
/* Disabled */
.tail-select.disabled .select-dropdown ul li.dropdown-option,
.tail-select .select-dropdown ul li.dropdown-option.disabled{
    cursor: not-allowed;
    color: rgba(51, 51, 51, 0.35);
    text-shadow: 0px 1px 0px rgba(77, 77, 77, 0.1), 0px -1px 0px rgba(26, 26, 26, 0.1);
    background-color: rgba(51, 51, 51, 0.02);
}
.tail-select.disabled .select-dropdown ul li.dropdown-option .option-description,
.tail-select .select-dropdown ul li.dropdown-option.disabled .option-description,
.tail-select.disabled .select-dropdown ul li.dropdown-option:hover .option-description,
.tail-select .select-dropdown ul li.dropdown-option.disabled:hover .option-description,
.tail-select.disabled .select-dropdown ul li.dropdown-option.hover .option-description,
.tail-select .select-dropdown ul li.dropdown-option.disabled.hover .option-description{
    color: rgba(51, 51, 51, 0.35);
}
/* @end DROPDOWN */

/*# sourceMappingURL=tail.select-default.map */
