@import url('https://font.googleapis.com/css?familly=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #180576;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.card {
    position: relative;
    width: 265px;
    height: 260px;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.15), 0 20px 20px rgba(0, 0, 0, 0.15);
}

.card:hover {
    transform: perspective(2000px) translateX(50%);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.15);
}

.cover h6 {
    position:absolute;
    padding: 8px 20px;
    text-align: center;
    display: inline-block;
    background: #aaa9e9;
    color: #fff;
    margin-top: 210px;
    letter-spacing: 1px;
    border-radius: 25px;
    font-weight: 500;
}

.card .cover {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    overflow: hidden;
    transition: 1s ease-in-out;
    transform-origin: left;
}

.card:hover .cover {
    transform: rotateY(-160deg);
    
}
.card:hover .cover h6 {
    display: none;
    
}

.card .cover img {
    max-width: 100%;
    z-index: 1;
}

.card .cover::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 150%;
    background: #fff;
    transform: rotate(38deg);
    box-shadow: 0 0 0 20px #aaa9e9;
    transition: 0.5s;
    transition-delay: 1s;
}

.card:hover .cover::before {
    width: 0;
    box-shadow: 0 0 0 250px #aaa9e9;
    transform: rotate(143.5deg);
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

.card .details h3 {
    font-weight: 500;
    margin: 5px 0;
}

.card .details h2 {
    font-size: 1.5em;
    color: #e82a5b;
    font-weight: 600;

}

.card .details a {
    display: inline-block;
    padding: 8px 20px;
    background: #aaa9e9;
    color: #fff;
    margin-top: 5px;
    letter-spacing: 1px;
    border-radius: 25px;
    font-weight: 500;
    text-decoration: none;

}