@import url('https://font.googleapis.com/css?familly=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;

}

section .imgBx {
    position: relative;
    width: 50%;
    height: 100%;
}

section .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #d3c5cb, #a4c7d7/ 0.5);
    z-index: 1;
    mix-blend-mode: screen;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentBx {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;


}

section .contentBx .formBx {
    width: 50%;
}

.formBx h2 {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #2757db;
    display: inline-block;
    letter-spacing: 1px;

}

section .inputBx {
    margin-bottom: 20px;
}

section span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607bd8;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

section input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;

}

section input[type="submit"] {
    background: #2757db;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section input[type="submit"]:hover {
    background: #f53677;
}

section .remember {
    margin-bottom: 10px;
    color: 607d8b;
    font-weight: 400;
    font-size: 14px;
}

.contentBx p {
    color: #607d8b;
}

.inputBx a {
    color: #1f0f8b;
}

.contentBx h3 {
    color: #607d8b;
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

.sci {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #607b8b;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

.sci li:hover {
    background: #ff4584;
}

.sci li img {
    transform: scale(0.5);
    filter: invert(1);
}

@media(max-width:768px) {
    section .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;

    }

    section .contentBx .formBx {
        width: 100%;
        padding: 40px;
        height: 100%;
        background: rgb(255 255 255 / 90%);
        margin: 30px;

    }

    .contentBx h3 {
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }

}