.mp-std-search {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
}

.pg-group {
    display: flex;
    align-content: stretch;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.pg-group-center {
    margin: 0 auto;
}

.pg-group-left {
    float: left;
}

.pg-group>input {
    padding: 4px;
    width: 50px;
    text-align: center;
    font-size: 15px
}

.pg-group .pg-group-addon {
    background: #eee;
    border: 1px solid #ccc;
    padding: 4px 7px;
    transition: all .5s ease-in-out;
}

.pg-group .pg-group-addon:hover {
    background: #0B2E40;
    border-color: #0B2E40;
    color: #eee;
}

.pg-group .pg-left {
    border-left: none;
    border-right: none;
}

.pg-group .pg-right {
    border-right: none;
    border-right: none;
}

.pg-group .pg-span {
    font-size: 12px;
    text-transform: none;
    text-align: center;
    padding: 10px 10px 0px 10px;
    justify-content: center;
    justify-items: center;
    background: #F3F3F1;
    border: 1px solid #ccc;
    /* border-left: none;
    border-right: none; */
}

.pg-first {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.pg-last {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5xp;
}

.mp-search-group {
    position: relative;
    margin: auto;
    width: 100%;
}

.mp-search-group input {
    /* background: #fff; */
    border: 1px solid #ccc;
    padding: 12px 50px 12px 50px;
    width: 100%;
    color: #071420;
    border-radius: 5px;
    font-size: 16px;
}

.mp-search-group i {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #34495E;
    cursor: pointer;
}

.crt-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background: #5D6D7E; */
    padding: 10px;
    border-radius: 15px;
    /* background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); */
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
}

.crt-form-group {
    width: 100%;
    /* margin-bottom: 10px; */
}

.crt-form-group label {
    color: #cecece;
    margin: 5px 0;
    padding: 5px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Buttons */

.mp-btn {
    box-sizing: border-box;
    padding: 8px;
    border-radius: 5px;
    margin: 10px auto;
    transition: all .3s ease-in-out;
    font-size: 12px;
    border: 2px solid #ccc;
    font-weight: bold;
    cursor: pointer;
}

.mp-btn-outline-success {
    border-color: #28a745;
    color: #28a745;
    background: #fff;
}

.mp-btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
    background: #fff;
}

.mp-btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
    background: #fff;
}

.mp-btn-outline-orange {
    border-color: #fd7e14;
    color: #fd7e14;
    background: #fff;
}

.mp-btn-outline-warning {
    border-color: #ffc107;
    color: #ffc107;
    background: #fff;
}

.mp-btn-outline-dark {
    border-color: #343a40;
    color: #343a40;
    background: #fff;
}

.mp-btn-outline-success:hover {
    background: #28a745;
    color: #fff;
}

.mp-btn-outline-primary:hover {
    background: #007bff;
    color: #fff;
}

.mp-btn-outline-orange:hover {
    background: #fd7e14;
    color: #fff;
}

.mp-btn-outline-warning:hover {
    background: #ffc107;
    color: #fff;
}

.mp-btn-outline-danger:hover {
    background: #dc3545;
    color: #fff;
}

.mp-btn-outline-dark:hover {
    background: #343a40;
    color: #fff;
}

.mp-btn-success {
    border-color: #28a745;
    background: #28a745;
    color: #fff;
}

.mp-btn-primary {
    border-color: #007bff;
    background: #007bff;
    color: #fff;
}

.mp-btn-orange {
    border-color: #fd7e14;
    background: #fd7e14;
    color: #fff;
}

.mp-btn-warning {
    border-color: #ffc107;
    background: #ffc107;
    color: #fff;
}

.mp-btn-danger {
    border-color: #dc3545;
    background: #dc3545;
    color: #fff;
}

.mp-btn-dark {
    border-color: #343a40;
    background: #343a40;
    color: #fff;
}

.mp-btn-success:hover {
    color: #28a745;
    background: #fff;
}

.mp-btn-primary:hover {
    color: #007bff;
    background: #fff;
}

.mp-btn-orange:hover {
    color: #fd7e14;
    background: #fff;
}

.mp-btn-warning:hover {
    color: #ffc107;
    background: #fff;
}

.mp-btn-danger:hover {
    color: #dc3545;
    background: #fff;
}

.mp-btn-dark:hover {
    color: #343a40;
    background: #fff;
}


/* end Buttons */


/* Input date */

input[type="date"],
input[type="time"] {
    /* background-color: transparent; */
    width: 100%;
    padding: 10px;
    font-family: "Roboto Mono" monospace;
    /* color: #333; */
    font-size: 18px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

::-webkit-calendar-picker-indicator {
    background-color: #fff;
    width: 15px;
    height: 15px;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}


/* end Input date */

.mp-frm-control {
    width: 100%;
    /* padding: 10px; */
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Select */

select {
    /* styling */
    /* background-color: white; */
    border: thin solid #ccc;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}


/* arrows */

select.classic {
    background-image: linear-gradient(45deg, transparent 50%, blue 50%), linear-gradient(135deg, blue 50%, transparent 50%), linear-gradient(to right, skyblue, skyblue);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
}

select.classic:focus {
    background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}

select.round {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#ddd 70%, transparent 72%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - .5em) .5em;
    background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
    background-repeat: no-repeat;
}

select.round:focus {
    background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), radial-gradient(gray 70%, transparent 72%);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - .5em) .5em;
    background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image: linear-gradient(45deg, dodgerblue 50%, transparent 50%), linear-gradient(135deg, transparent 50%, dodgerblue 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: dodgerblue;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}


/* end Select */

.addbutton {
    box-sizing: border-box;
    /* position: absolute;
    right: 45px; */
    margin: 2px 10px 2px 0;
    padding: 7px 10px;
    background: rgb(69, 123, 223);
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-transform: none;
    border: 2px solid rgb(69, 123, 223);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.addbutton:hover {
    color: rgb(69, 123, 223);
    background: #fff;
}

.no-data {
    margin: 25px 0;
    color: #ccc;
    font-style: italic;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/** Input type=text, simple and with icons */

input[type=text],
input[type=email],
textarea,
input[type=number] {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
    transition: .3s;
}

textarea {
    resize: both;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text]:focus,
input[type=number]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.input-left-icon input[type=text] {
    padding-left: 40px;
}

.input-right-icon input[type=text] {
    padding-right: 40px;
}

.input-left-icon,
.input-right-icon {
    position: relative;
}

.input-left-icon i,
.input-right-icon i {
    position: absolute;
    top: 8px;
    padding: 9px 8px;
    color: #ccc;
    cursor: pointer;
    transition: .3s;
}

.input-left-icon i {
    left: 0;
}

.input-right-icon i {
    right: 0;
}

.input-left-icon input[type=text]:focus+i,
.input-right-icon input[type=text]:focus+i {
    color: dodgerblue;
}

.input-left-icon.iconBg i,
.input-left-icon.iconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    cursor: pointer;
}

.input-left-icon.iconBg i {
    border-radius: 4px 0 0 4px;
}

.input-left-icon.iconBg i {
    border-radius: 0 4px 4px 0;
}

.input-left-icon.iconBg input[type=text]:focus+i,
.input-left-icon.iconBg input[type=text]:focus+i {
    color: #fff;
    background-color: dodgerblue;
}


/** End Input type=text */

input.required {
    border-left: 2px solid red;
}


/** Input type checkbox */

.chk-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d8dff1;
    margin-bottom: 10px;
}

input[type=checkbox] {
    margin: 20px 2px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.chk-item label {
    margin: 0;
    padding: 10px;
}

.chk-item input[type=checkbox] {
    width: 25px;
    height: 25px;
}

.frm-group {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.frm-group-col-6 {
    box-sizing: border-box;
    width: 50%;
}

.frm-side-by-side {
    box-sizing: border-box;
    width: 50%;
}

.frm-group label {
    font-family: Tahoma;
    height: 20px;
    padding: 10px 0;
}

.identifiant {
    padding-left: 5px;
}

.picture-content {
    width: 180px;
    height: 190px;
    border: 1px solid grey;
    margin: 10px auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.picture-content img {
    width: 100%;
    height: 100%;
}

#photo {
    display: none;
}

#imageBtn {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 5px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: .5s ease-in-out .5s;
    transition: .5s ease-in-out .5s;
}

#imageBtn:hover,
#deleteBtn:hover {
    color: wheat;
}

#deleteBtn {
    box-sizing: border-box;
    background: red;
    color: #fff;
    font-size: 30px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 40px;
    border-top: 1px solid red;
    border-right: 1px solid red;
    text-align: center;
    padding: 2px 0 0 4px;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    -webkit-transition: .5s ease-in-out .5s;
    transition: .5s ease-in-out .5s;
}

.picture-content:hover #imageBtn,
.picture-content:hover #deleteBtn {
    opacity: 1;
}


/* Checkbox group */

.check-group {
    border: none;
    margin-bottom: 20px;
}

.check-item,
.check-item-header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d8dff1;
}

.check-item-header label {
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.check-item input:checked+label {
    background: #f3fef4;
    color: #727a87;
    transition: .1s ease-out;
}

.check-item input[type=checkbox],
.check-item-header input[type=checkbox] {
    margin: 10px 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.check-item label,
.check-item-header label {
    margin: 0;
    padding: 10px 20px;
    transition: background .2s;
    flex: 1;
    font-size: 1.2rem;
    border-left: 1px solid #d8dff1;
    color: #272a2f;
}


/* End Checkbox group */

.search-inputs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.lbl-required {
    color: red;
}


/* Button group */

.btn-group {
    display: inline-flex;
    height: 50px;
    padding: 0;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.btn-item {
    display: inline-flex;
    padding: 0 24px;
    align-items: center;
    color: white;
    border: none;
    outline: none;
    height: 100%;
    background-color: #009578;
    font-size: 1.2rem;
    transition: .3s;
    cursor: pointer;
}

.btn-group-sm {
    height: 30px;
    border-radius: 3px;
}

.btn-group-sm .btn-item {
    font-size: 16px;
    padding: 2px 8px;
}

.btn-item-warning {
    background-color: #fd7e14;
}

.btn-item-danger {
    background-color: red;
}

.btn-item-success {
    background-color: #009578;
}

.btn-item-success:hover,
.btn-item-danger:hover,
.btn-item-warning:hover {
    color: rgb(49, 48, 75);
}


/* End Button group */

@media (max-width: 640px) {
    .frm-side-by-side,
    .frm-group-col-6 {
        width: 100%;
    }
    .identifiant {
        padding-left: 0;
    }
}


/** End Input type checkbox */